.defeated-screen {
    height: 448px;
    width: 448px;
    background: rgb(184, 185, 163);
    border: 2px solid black;
    margin: auto;
    position: relative;
    bottom: 738px;
    display: none;
    flex-direction: column;
}