.quest-screen {
    height: 448px;
    width: 448px;
    background: rgb(184, 185, 163);
    border: 2px solid black;
    margin: auto;
    position: relative;
    bottom: 738px;
    display: none;
    flex-direction: column;
    
}
.quest-name{
    height: 50px;
    text-align: center;
    padding-top: 16px;
}
.quest-description{
    padding: 8px 16px;
    height: 140px;
    /* background: red; */
    overflow-y: scroll;

}
.quest-reward-box{
    /* background: green; */
    height: 140px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 8px;
    overflow-y: scroll;
}
.quest-reward-items-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.quest-buttons-box{
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
}
.quest-buttons{
    height: 24px;
    width: 150px;
    cursor: pointer;
}
.item-reward-box{
    height: 40px;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 4 16px;
    /* background: gray; */
}
.item-reward-img{
    height: 32px;
    width: 32px;
}
.quest-stats-message{
    padding: 8px 16px;
    height: 50px;
}