.selling-store-screen{
    height: 448px;
    width: 448px;
    background: rgb(184, 185, 163);
    border: 2px solid black;
    margin: auto;
    position: relative;
    bottom: 738px;
    display: none;
    flex-direction: column;
}
.selling-store-title {
    background: yellow;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 8px;
}

.selling-store-message{
    height: 100px;
    padding: 8px;
}

.selling-img-name-store-box{
    display: flex;
    gap: 8px;
}
.selling-store-items-box{
    padding: 8px;
    /* background: red; */
    height: 250px;
    overflow-y: scroll;
}
.selling-store-item-container{
    height: 40px;
    padding: 4px 8px;
    display: flex;
    border: 1px solid black;
    margin-top: 4px;
    gap: 8px;
    cursor: pointer;
    background: rgb(73, 73, 73);
}
.selling-store-item-container p {
    margin-top: 4px;
    color: white;
}
.selling-store-item-img {
    height: 32px;
    background: white;
    border-radius: 2px;
}

.selling-buy-buttons {
    margin-top: 4px;
    width: 60px;
    height: 24px;
    cursor: pointer;
}

.selling-store-item-input {
    margin-top: 4px;
    width: 50px;
    height: 24px;
}

.selling-store-buttons-box {
    display: flex;
    padding: 8px;
    justify-content: space-around;
}
.selling-store-buttons {
    padding: 4px;
    width: 100px;
    cursor: pointer;
}